# OS X temporary files and resource fork folders that should never be committed
#
# c.f. http://www.westwind.com/reference/os-x/invisibles.html

.DS_Store
__MACOSX/
.Trashes
*.swp

# *.lock - this is used and abused by many editors
*.lock

